POSTGRES_DB=gridrobot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433
PUBLIC_HOST_IP=192.168.100.12

BACKEND_PORT=4000
FRONTEND_PORT=5173
MQTT_PORT=1883
MQTT_WS_PORT=9001

GRIDROBOT_TICK_RATE_HZ=20
